@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Encode+Sans:wght@300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Encode Sans', sans-serif;
}

body {
    background-color: #1f1147;
    overflow: hidden;
    user-select: none;
    /* Disable select option */
}

.main {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #1f1147;
    transition: 0.3s;
    pointer-events: auto;
}

.main.active {
    filter: blur(15px) !important;
    pointer-events: none;
}

.container {
    width: 200%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.home {
    position: relative;
    left: -25%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.home.active {
    left: 150%;
}

.home-content {
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 55vh;
    min-width: 50vw;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #1f1147;
    border-radius: 35px;
}

.home-content h1 {
    color: #37E9BB;
    font-size: 90px;
    font-weight: 500;
}

.home-content h2 {
    font-size: 40px;
    font-weight: 500;
}

.home-content p {
    font-size: 20px;
    font-weight: 400;
}

.home-content button {
    height: 70px;
    width: 70%;
    border: none;
    color: white;
    font-size: 22px;
    background-color: #6949FD;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s linear;
    font-size: 25px;
    font-weight: 500;
}

.home-content button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.3s linear;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    background: white;
    padding: 20px 45px;
    border-radius: 40px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.popup.active {
    opacity: 100;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(.9);
}

.popup h1 {
    font-size: 50px;
    margin: 20px 0px;
}

.info {
    display: block;
    padding: 10px 0px;
}

.popup-btn-grp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(120, 115, 115);
    margin-top: 30px;
    padding: 20px 15px;
}

.info-btn {
    padding: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid #6949FD;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background-color: #6949FD;
    cursor: pointer;
    transition: 0.3s;
}

.popup .popup-btn-grp .info-btn:nth-child(1):hover {
    background-color: white;
    color: black;
}

.popup .popup-btn-grp .info-btn:nth-child(2):hover {
    background-color: white;
    color: #6949FD;
}

.quiz-sec {
    position: relative;
    left: -100%;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #09001d;
    transition: 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-sec.active {
    left: 0;
}

.quiz-box {
    position: relative;
    background-color: transparent;
    border-radius: 35px;
    border: 2px solid #6949FD;
    width: 30%;
    transform: scale(.9);
    transition: 1s;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
}

.quiz-box.active {
    transform: scale(1);
    opacity: 100;
    pointer-events: auto;
}

.quiz-box h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 2px solid #6949FD;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.header-score {
    background-color: #6949FD;
    border-radius: 36px;
    padding: 15px;
}

.question-txt {
    margin: 15px 0px;
    font-size: 30px;
    font-weight: 500;
}

.option {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    margin: 15px 0px;
    border: 2px solid rgb(255, 255, 255, .2);
    cursor: pointer;
    border-radius: 30px;
}

.option.correct {
    border: 2px solid rgb(15, 179, 67);
    background-color: rgba(25, 240, 25, 0.243);
}

.option.incorrect {
    border: 2px solid rgb(179, 15, 15);
    background-color: rgba(240, 25, 25, 0.243);
}

.option:hover {
    background-color: #362953;
}

.option.disabled {
    pointer-events: none;
}

.quiz-footer {
    margin: 15px 0px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #6949FD;
}

.total-question {
    font-size: 20px;
    font-weight: 600;
}

.next-btn {
    width: 120px;
    height: 55px;
    border-radius: 35px;
    background-color: #362953;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    color: rgb(255, 255, 255, .3);
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
    pointer-events: none;
}

.next-btn:hover {
    background-color: #6949FD;
    border: 2px solid #6949FD;
    color: white;
}

.next-btn.active {
    pointer-events: auto;
    border-color: #6949FD;
    color: white;
}

.result-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    width: 30%;
    background-color: transparent;
    border: 2px solid #6949FD;
    border-radius: 40px;
    padding: 25px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: 1s;
}

.result-box.active {
    opacity: 100;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s;
}

.result-box h2 {
    font-size: 52px;
    font-weight: 500;
    margin: 10px 0px;
}

.parcentage-container {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(#6949FD 0deg, rgba(255, 255, 255, .1) 0deg);
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-progress::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #09001d;
}

.progress-value {
    position: relative;
    /* For making it above from the .cirtular-progrss */
    font-size: 45px;
    font-weight: 600;
}

.score-text {
    margin: 10px 0px;
    font-size: 26px;
}

.result-btn button {
    width: 150px;
    background-color: #6949FD;
    height: 57px;
    border: 2px solid #6949FD;
    outline: none;
    cursor: pointer;
    border-radius: 36px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin: 0px 10px;
    transition: 0.5s;
}

.result-btn button:hover {
    background-color: #ffffff;
    border: 2px solid #6949FD;
    color: black;
}